body {
    font-family: Arial, sans-serif;
    background-color: #98fb98;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: black;
    margin-bottom: 30px;
}

.consegna {
    background-color: #eafbea;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

h2 {
    margin-top: 0;
    color: black;
}

.traccia {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.barra {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 0%;
    text-align: center;
}

.btn {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.btn.stato {
    background-color: #0e429c;
}
.btn.stato:hover {
    background-color: #0d2e67;
}


.btn.conferma {
    background-color: #4CAF50;
}
.btn.conferma:hover {
    background-color: #45a049;
}

.extra-info {
    margin-top: 15px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.extra-info label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.extra-info select {
    padding: 5px;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .consegna {
        padding: 15px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }

    .extra-info select {
        width: 100%;
    }
}